{{! vim: set ft=html: }}

{{#*inline "page"}}

<div class="post-container">
  <div class="post">
    <p class="post-title">{{post.title}}</p>
    <div class="post-info">
      <a class="post-creation-time">{{post.human_readable_creation_time}}</a>
      |
      <a class="post-author">{{post.author}}</a>
    </div>
    <p class="post-description">{{post.description}}</p>
    <div class="post-content">{{post.content}}</div>
  </div>
</div>

{{/inline}}
{{> base username=username }}
